<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="./css/docx/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
      <header>
          <h1>Docx For DBH</h1>
      </header>
      <main>
          <div class="container">
              <a href="/docx/dbh/ukiaio" target="_blank"><div class="docs-link" id="ukiaio">
                  <h3>UptimeKuma In AIO | DBH</h3>
              </div></a>
              <a href="https://docx.uk.to/docs/dbh/cpviaio/" target="_blank"><div class="docs-link">
                  <h3>Custom PY Version In AIO | DBH</h3>
              </div></a>
              <a href="https://docx.uk.to/docs/dbh/htinvmiaio/" target="_blank"><div class="docs-link">
                  <h3>How To Install NVM In AIO | DBH</h3>
                </div></a>
          </div>
      </main>
  </body>
</html>