<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./src/home/code.png" type="image/png" />
    <link rel="stylesheet" href="./css/home/style.css" />
    <script
      src="https://kit.fontawesome.com/f08dd07f6a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <div id="leftNav">
        <div id="logo">
          <a href="/">
            <img src="./src/home/code.png" alt="Logo" />
          </a>
        </div>
        <div id="navLinks">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div id="rightNav">
        <div id="mode">
          <button id="lightMode">
            <i class="fa-solid fa-sun"></i>
          </button>
          <button id="darkMode">
            <i class="fa-solid fa-moon"></i>
          </button>
        </div>
        <div id="slideBar">
          <button>
            <i class="fa-solid fa-sliders"></i>
          </button>
        </div>
      </div>
    </nav>

    <section>
      <div id="sectionOne">
        <div id="welcomeDiv">
          <div id="welcomeDivContent">
            <h1>
              Welcome to Docx For Dev: Your Gateway to Web Development Mastery
            </h1>
            <p>
              Are you a budding developer eager to kickstart your journey into
              the world of web development? Look no further! Docx For Dev is a
              comprehensive platform designed to equip new developers with the
              essential skills and resources needed to build, launch, and
              optimize their very own websites. Our mission is to make web
              development accessible and exciting, providing you with the tools,
              tips, and freebies to set you on the path to success.
            </p>
          </div>
        </div>
        <div id="tableDiv">
          <h2>Content</h2>
          <div id="anchorLinksTable">
            <div class="anchorLinksTableDiv">
              <h3>
                <a href="#">Introduction</a>
              </h3>
            </div>
            <div class="anchorLinksTableDiv">
              <h3>
                <a href="#">Getting Started</a>
              </h3>
            </div>
            <div class="anchorLinksTableDiv">
              <h3>
                <a href="#">HTML</a>
              </h3>
            </div>
            <div class="anchorLinksTableDiv">
              <h3>
                <a href="#">CSS</a>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SCRIPT -->
    <script src="./js/home/script.js"></script>
  </body>
</html>
