* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #ff4b00;
  --secondary-color: #f5f5f5;
  --sectionOne-color: white;
  --text-color: black;
}

.dark-theme {
  --primary-color: #ff4b00;
  --secondary-color: black;
  --sectionOne-color: #333;
  --text-color: white;
  --text-color-secondary: #c1c1c1;
}

body {
  background-color: var(--secondary-color);
}

/* NAVBAR CSS */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: linear-gradient(90deg, var(--primary-color) 0%, #ff0000 100%);
}

/* LEFTNAV CSS */
#leftNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1em;
  width: 50%;
}

#logo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

#logo img {
  width: 2em;
  height: 2em;
  margin-left: 10px;
}

#navLinks {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#navLinks ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#navLinks ul li {
  list-style: none;
  margin: auto;
  height: 100%;
}

#navLinks ul li a {
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
  padding: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}

#navLinks ul li:hover {
  text-decoration: underline var(--secondary-color);
}

/* RIGHTNAV CSS */

#rightNav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

#rightNav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 1em;
}

#rightNav button i {
  font-size: 1.5em;
  color: var(--secondary-color);
}

/* SECTION ONE CSS */

#sectionOne {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.8em 4em;
  gap: 2em;
}

#welcomeDiv {
  width: 75%;
  height: 100%;
  background-color: var(--sectionOne-color);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  padding: 1em;
}

#welcomeDivContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  height: 100%;
}

#welcomeDivContent h1 {
  font-size: 1.8em;
  font-family: sans-serif;
  color: var(--text-color);
  margin-bottom: 0.5em;
}

#welcomeDivContent p {
  font-size: 1.1em;
  font-family: sans-serif;
  color: var(--text-color-secondary);
  margin-bottom: 0.5em;
}

#tableDiv {
  width: 25%;
  height: 100%;
  background-color: var(--sectionOne-color);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
}

#tableDiv h2 {
  font-size: 1.6em;
  font-family: sans-serif;
  color: var(--primary-color);
  text-align: center;
}

#anchorLinksTable {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0em 1em;
  margin-bottom: 0.8em;
}

.anchorLinksTableDiv {
  padding: 0.5em 0.8em;
  border-right: 2px solid var(--text-color);
  border-left: 2px solid var(--text-color);
  border-top: 2px solid var(--text-color);
}

.anchorLinksTableDiv:nth-last-child(1) {
  border-bottom: 2px solid var(--text-color);
}

.anchorLinksTableDiv h3 {
  font-family: "roboto", sans-serif;
}

.anchorLinksTableDiv h3 a {
  font-size: 1em;
  text-decoration: none;
  color: var(--text-color);
  display: block;
}

/* MODES  */
#darkMode {
  display: none;
}
