<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Docx</title>
    <link href="/home.css" rel="stylesheet" type="text/css" />
  </head>
    <body>
        <header>
            <h1>Docx For Devs</h1>
        </header>
        <main>
            <div>
            <h3>Documents for beginners</h3>
            <p>This webpage contains <a href="/docx" id="doc_a">Documents</a>, <b>FAQ</b> (frequently asked questions) and helpful tips which are most common and can help a beginner 🔰 throughout this course for learning.</p><br>
            <a href="/docx"><button id="next_button">Next &rarr;</button></a>
             </div>
        </main>
        <footer>
            <div id="footer">
            <h5>Currently under development</h5>
            </div>
        </footer>
    </body>
</html>